body {
    margin: 20px;
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #175676;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #000000;
    color: #DFE7E6;
    border-bottom: 6px solid #da5552;
    transition: box-shadow .3s;
}
.card:hover {
    box-shadow: 10px 10px 8px #888888;
}

.border-blue {
    border: 1px dotted blue;
}
.grad{
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
     background: linear-gradient(to right, #da5552,
                    #fb6376, #ee6352, #eedd44);
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
}



